@{
    Layout = "~/inc/_layout.cshtml";
}

<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>INDEX</title>
</head>
<body>

    <div class="container">
        <div class="row">

            <div class="col-md-12 coluna">



                @{
                    var apresentarFormulario = true;

                    //Se foi feito um post (via botao - submit)
                    if (IsPost)
                    {
                        //Validação para ver se os campos foram preenchidos

                        var user = Request["nPassword"];
                        var password = Request["nPassword"];
                        var passwordConfirm = Request["nConfirmPassword"];
                        var mensagemErro = "";
                        var avancar = true;
                        

                        if (user==""||password==""|| passwordConfirm=="")
                        {
                            //invalido - usuario nao preencheu todos os campos.
                            mensagemErro = "Um ou mais campos não foram preenchidos";
                            avancar = false;
                            <p>@mensagemErro</p>

                        }

                        if (password!=password)
                        {
                            //As senhas não conferem
                            avancar = false;
                        }


                        
                        


                        if (IsPost) { 
                        //Essa é a etapa 2 - Após o botao foi tocado
                        //Já não é necessário apresentar o formulário.
                        apresentarFormulario = false;
                        //Formulário abrir conta
                        //Mensagem
                        <p>Success!</p>
                        

                        }


                    }
                    //Enquanto o apresentarFormulário for true (Não ouve registro, é obrigado a se registrar )
                    if (apresentarFormulario)

                    {

                        <p><strong style="color:red">  </strong></p>
                        <p><strong style="color:red"> </strong></p>
                        <h3>Create new account</h3>
                        //Segue o formulário
                        <form method="post" action="">
                            <lable>User:</lable>
                            <input type="text" name="nUser" value="John Doe" size="30" maxlength="30" /> <br />

                            <lable>Password:</lable>
                            <input type="password" name="nPassword" value="******" size="30" maxlength="30" /><br />

                            <lable>Confirm password:</lable>
                            <input type="password" name = "nConfirmPassword" value="******" size="30" maxlength="30" /><br />

                            <input type="submit" value="Create New" />
                            <!--Clicando o botão, isPost() é acionado (Vide acima)  resentarFormulario = false e daí não se faz necessário o formulário não é mais apresentado-->
                                    
                        </form>
                    }

                    
                }

            </div>


        </div>


    </div>

  
    

 




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>