<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Index</title>
</head>
<body>
    

    @RenderPage("_header.cshtml")
    @RenderBody()
    @RenderPage("_footer.cshtml")



</body>
</html>
