body {
}

.row {
    border-top: 1px dotted blue;
    border-bottom: 1px dotted blue;
}

.coluna {
    border-left: 1px dotted red;
    border-right: 1px solid red;
}

.vazia5{

    height:30px;
}

.logo {
    height: 80px;
}
,logo1{
    height:50px;

}

.centro{

    text-align:center;
}